<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>React Tutorial</title>
  <link rel="stylesheet" href="stylesheets/base.css"/>
</head>
<body>
<div id="content"></div>
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/react/react.js"></script>
<script src="javascripts/react/react-dom.js"></script>
<script src="javascripts/react/build/demo.js"></script>
</body>
</html>
